.InputBar .box {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.InputBar .add-icon:hover {
  transform: rotate(180deg);
}

input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

input::placeholder {
  font-weight: 400;
  color: var(--grey);
}
