.InputBar .box {
  background-color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.InputBar .add-icon:hover {
  transform: rotate(180deg);
}

input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

input::placeholder {
  font-weight: 400;
  color: var(--grey);
}

.InputBar input {
  border-bottom: 1px solid #ccc;
  transition: 0.5s;
}

.InputBar input:hover, 
.InputBar input:focus {
  border-bottom: 3px solid var(--primary-color);
  transition: 0.5s;
}
