.Todo {
  color: var(--grey);
  overflow-x: hidden;
  margin: 10px 0;
  background: white;
  transition: all 0.5s ease;
}

/* Only for large screens (>= laptop) */

@media screen and (min-width:769px) {
  .Todo:hover {
    transform: scale(1.1);
    color: var(--primary-color);
  }
  .Todo .check-icon:hover {
    background-color: var(--primary-color);
  }
}

/* Todo check icon */

.Todo .check-icon {
  color: white;
  background-color: white;
  border: 3.5px solid var(--primary-color);
  transition: all 0.5s ease;
}

/* Volume icon: show when click */

.Todo .volume-icon {
  margin-left: 0.5rem;
  color: var(--primary-color);
  opacity: 0;
}

.Todo:active .volume-icon {
  opacity: 1;
}

/* Done styles */

.Todo.todo-done {
  background: rgb(37,255,187);
  background: linear-gradient(160deg, rgba(37,255,187,1) 0%, rgba(20,200,144,1) 100%);
}

.Todo .check-icon-done {
  color: rgb(37,255,187);
  border: none;
}

.Todo .check-icon-done:hover {
  background-color: white;
}

.Todo .text-done {
  color: white;
}

.Todo .volume-icon-done {
  color: white;
}

/* Only for small screens (e.g. phone) */

@media screen and (max-width:769px) {
  .Todo.todo-done {
    animation: todo-done-pop 1s ease;
  }

  @keyframes todo-done-pop {
    50% { transform: scale(1.1); }
  }
}
