.Todo {
  color: var(--grey);
  display: flex;
  align-items: center;
  transition: transform 0.4s ease, background-color 0.2s ease;
}

/* Todo: enlarge when hover */

.Todo:hover {
  transform: scale(1.2);
  color: var(--primary-color);
  background-color: white;
  box-shadow: 0 7px 15px 0 var(--primary-color-transparent);
}

/* Todo check icon */

.Todo .icon {
  color: white;
  background-color: white;
  border: 3px solid var(--primary-color);
  transition: background-color 0.3s ease;
}

.Todo .icon:hover {
  background-color: var(--primary-color);
}

/* Volume icon: show when click */

.Todo .volume-icon {
  margin-left: 0.5rem;
  visibility: hidden;
}

.Todo:active .volume-icon {
 visibility: visible;
}