ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.todoList-progress {
	color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.todoList-progress h4 {
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 1.6rem;
  margin: 1rem;
}

/* CSSTransition styles */

.todo-enter {
  opacity: 0;
}

.todo-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.todo-exit {
  opacity: 1;
}

.todo-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
