@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

:root {
  --primary-color: #56DEFC;
  --primary-color-transparent: rgba(86,222,252, 0.8);
  --grey: #919191;
  --light-grey: #c5c5c5;
  --red: rgb(252, 100, 100);
}

.App {
  background: #38bcda;
  background: linear-gradient(145deg, rgba(186,242,255,1) 0%, rgba(15,165,198,1) 100%);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 1.3rem;
}

/* App Content */

.AppContent {
  max-width: 500px;
  border-radius: 1.1rem;
}

/* App Header */

.AppHeader {
  border-top-left-radius: 1.1rem;
  border-top-right-radius: 1.1rem;
  padding: 2.3rem 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.AppHeader .header-time {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  line-height: 1.1;
  color: white;
}

.AppHeader .header-trash-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  background-color: rgba(255,255,255,0.5);
}

.AppHeader .header-trash-icon.active {
  background-color: var(--red);
}

/* Only for large screens (>= laptop) */

@media screen and (min-width:769px) {
  .AppHeader .header-trash-icon:hover {
    background-color: var(--red);
  }
  .AppHeader .header-trash-icon.active:hover {
    background-color: rgba(255,255,255,0.5);
  }
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a96b5;
  /*background-image: url("https://media.wired.com/photos/5a970eb4927dc94e67685b0e/master/pass/matterhorn-802950172.jpg");*/
  background-image: url("https://picsum.photos/g/300/200/?random");
  background-blend-mode: overlay;
}

/* Signature */

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.signature a {
  color: white;
}

.signature a:hover {
  color: blue;
}

/* Misc. */

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-shadow {
  box-shadow: 0 3px 10px 0 var(--primary-color-transparent);
  transition: box-shadow 0.3s ease;
}

.box-shadow:hover {
  box-shadow: 0 7px 15px 0 var(--primary-color-transparent);
}
