@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

.App {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 0 1.3rem;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}